<% provide(:title, 'Update Article') %>
<h1>Update Article</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@article) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :pubdate %>
      <%= f.date_field :pubdate, class: 'form-control' %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
      
      <%= f.label :source %>
      <%= f.text_field :source, class: 'form-control' %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>