<% provide(:title, @user.name) %>
<div class="row">
    <h1 class="pull-left">
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
</div>
<br>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        Name: <%= @user.name %><br>
        Email: <%= @user.email %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.comments.any? %>
      <h3>Comments (<%= @user.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>